*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.instruction{
    margin-left: 50px;
}

nav{
    margin-right: 50px;
}

.play, .help{
    width: 100px;
    height: 50px;
}

.play:hover, .help:hover{
    cursor: pointer;
}

main{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


main .container{
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

main h1{
    text-align: center;
    padding: 30px;
}

main .container .c1, main .container .c2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

main .container .c1 .trv, main .container .c2 .trv{
    width: 30%;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}

main .container .c1 .trv:hover, main .container .c2 .trv:hover{
    cursor: pointer;
    border: 1px solid #000;
}

@media screen and (max-width: 450px){
    .instruction{
        display: none;
    }

    nav{
        width: 100%;
        margin-right: 0;
        display: flex;
        justify-content: space-around;
    }

    main .container{
        width: 100%;
        height: 70vh;
    }


    main .container .c1 .trv, main .container .c2 .trv{
        width: 45%;
    }
}