*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
}

header .logo{
    margin-top: 10px;
}

header nav{
    margin-left: 50px;
    margin-top: 10px;
}

header nav .play{
    width: 100px;
    height: 30px;
    padding: 1rem;
    font-size: 15px;
    background: hsl(120, 98%, 20%);
    transition: all .3s ease-in-out;
}

header nav .aide{
    background: hsl(100, 100%, 50%);
    width: 100px;
    height: 30px;
    padding: 1rem;
    font-size: 15px;
    transition: all .3s ease-in-out;
}

header nav .play:hover, header nav .aide:hover{
    opacity: 0.7;
}

main{
    margin-top: 50px;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.game__container{
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.game{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

button{
    width: 40%;
    height: 100px;
    font-size: 20px;
    text-transform: uppercase;
}

.bouton1, .bouton2, .bouton3{
    background: #096221;
    opacity: 0.9;
}

.bouton4{
    background: #9a0e01;
    opacity: 0.9;
}